<!DOCTYPE html >
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/media.css">

    <title>قطاع خدمات الاعمال</title>
</head>
<body>
  


    <!--Hero Section-->


<section id="heroSection" class="position-relative pb-5"  >
      <!--Header-->

<header>
    <nav class="navbar navbar-expand-lg pt-4">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../assets/images/logo/Ajeer-white-Logo.png" width="80"></a>
          <button  class="navbar-toggler p-0 " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
     
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="30"><path fill="white" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav p-0  mb-lg-0">
                
         
                <a class="position-absolute d-none d-lg-block d-md-block " style="left: 1%;top:25px" aria-current="page" href="#"><svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512" height="30" width="30">
                    <path fill="white" d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
           </a>
              
                
               
            </ul>
          
            <form class="d-flex d-block d-lg-none d-md-none mt-3 col-12" >
                <input class="form-control m-0 " type="search" placeholder="بحث" aria-label="Search">
              
              </form>
          </div>
        </div>
      </nav>
</header>


    <!--End Of Header-->
<div class="work-section-container mt-5 text-white mx-4 row " >
    <div class="right-content-container col-12 col-lg-6 col-md-12">
        <h1 class="work-services-title fw-bold ">خدمات قطاع الاعمال</h1>
        <p class="services-description mt-3 mb-3 fs-6 " > تقديم أكثر من ٢٠ خدمة مختلفة في مجال الصيانة (سباكة، كهرباء، تكييف …الخ) وتوفير خدمات تقنية لتسهيل رحلة العميل في طلب الخدمة </p>
    
    
        <div class="action-buttons-contaienr d-flex  mt-5 col-12 col-lg-6 col-md-6 col-sm-6 bg-md-danger justify-content-between ">
        <a class="regular-btn bg-secondary-color" href="tel:00967775474720">اتصل الان</a>
        <a class="regular-btn border-1-px mx-4" href="https://www.iajeer.com"> اعرف اكثر</a>
        </div>
    
    </div>
   

    
<div class="hero-image-container   col-12 mt-5 mt-lg-0 ">
    <img class="hero-section-image " src="../assets/images/house.png" >
        </div>
</div>  

</section>

    <!--End of Hero Section-->

<!--
Start of Services  We Offer Section
-->

<section>
<div class="services-we-offer container-fluid p-0 bg-container-color ">
    <div class="services-inner-container  col-11 float-start bg-white "></div>
    
</div>
</section>

<!--
End of Services  We Offer Section
-->

    <!--  Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
</body>
</html>