@media only screen and (max-width:1024px)and (min-width:300px) {
  
    .hero-section-image{
        max-width: 100%;
     
        position:relative;
        left:0px;
        bottom:0px;
    }
    .hero-image-container{
      
        position:relative;
    }
 
    .less-cost-card {
        background-color: #eff3fc !important ;
    }
    .fast-respond-card{
        background-color: white;
    }
    .services-we-offer{
        height: 156vh;
    }
    .services-inner-container{
        height: fit-content;
            }
}

@media only screen and (max-width:600px)
{
  
 
    .services-inner-container{
height: fit-content;
    }
    span{
        font-size: 14px;
    }
    .services-we-offer{
        height: 156vh;
    }

}